.header {
    background-color: $light;
    padding: fluid(20, 40) 0;
    
    .wrapper {}

    nav {
        @include flex(space-between, center, wrap);
        gap: fluid(20, 40);

        .left, .right {
            display: flex;
            gap: fluid(20, 40);
        }
        
        .logo {
            @include flex(null, center, nowrap);
            gap: rem(10);
            text-transform: uppercase;
            font-size: fluid(12, 14);
            
            .symbol {
                @include flex(center, center, nowrap);
                width: fluid(20, 30);
                height: fluid(20, 30);
                border-radius: 50%;
                background-color: $dark;
                color: $light;
                line-height: 1;
            }
            
            .content {
                font-weight: 600;
            }
        }
        
        .main-menu {
            @include flex(space-between, center, wrap);
            gap: fluid(20, 80);
            
            .menu-item {
                a {
                    text-transform: uppercase;
                    font-size: fluid(12, 14);
                }
            }
        }

        .left {
            .main-menu {
                padding-left: fluid(20, 40);
                border-left: 1px solid $dark;

                @include media('<tablet') {
                    display: none;
                }
            }
        }

        .right {
            .main-menu {

                @include media('<phone-medium') {
                    display: none;
                }
            }
        }

        .hamburger {
            display: none;
            
            @include media('<tablet') {
                display: flex;
            }
        }
    }
}