.header {
    background-color: $light;
    padding: fluid(20, 30) 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    transition: .2s ease-in;

    @include media('<phone-medium') {
        background-color: transparent;
    }

    nav {
        @include flex(space-between, center, wrap);
        gap: fluid(20, 40);

        .left, .right {
            display: flex;
            gap: fluid(20, 40);
        }
        
        .logo {
            @include flex(null, center, nowrap);
            gap: rem(10);
            text-transform: uppercase;
            font-size: fluid(12, 14);
            
            .symbol {
                @include flex(center, center, nowrap);
                width: fluid(28, 30);
                height: fluid(28, 30);
                border-radius: 50%;
                background-color: $dark;
                color: $light;
                line-height: 1;

                @include media('<phone-medium') {
                    background-color: $light;
                    color: $dark;
                }
            }
            
            .content {
                font-weight: 500;

                @include media('<phone-medium') {
                    color: $light;
                }
            }
        }
        
        .main-menu {
            @include flex(space-between, center, wrap);
            gap: fluid(20, 80);
            
            .menu-item {
                a {
                    text-transform: uppercase;
                    font-size: fluid(10, 13);
                }
            }
        }

        .left {
            .main-menu {
                padding-left: fluid(20, 40);
                border-left: 1px solid $dark;

                @include media('<tablet') {
                    display: none;
                }
            }
        }

        .right {
            .main-menu {

                @include media('<phone-medium') {
                    display: none;
                }
            }
        }

        .hamburger {
            display: none;
            
            @include media('<tablet') {
                display: flex;
            }

            &-inner, &-inner::after, &-inner::before {
                @include media('<phone-medium') {
                    background-color: $light !important;
                }
            }
        }
    }

    .mobile-menu {
        position: absolute;
        z-index: 9;
        background: $light;
        width: 100%;
        height: calc(100vh - 100%);
        top: 100%;
        transform: translateX(1000px);
        transition: .5s ease-in;

        &-items {
            padding-top: rem(40);
            text-align: center;
            .menu-item {
                margin-bottom: rem(20);
                a {
                    display: block;
                    text-transform: capitalize;
                    font-size: rem(16);
                }
            }
        }

        .auth-links {
            margin-top: rem(40);
            padding: 0 fluid(0, 260);
            display: flex;
            flex-direction: column;
            gap: rem(18);

            .btn {
                display: block;
                text-align: center;
                text-transform: capitalize;
                border-radius: rem(4);
                font-size: rem(16);
                padding: rem(10) rem(28);
                background-color: $dark;
                color: $light;
            }
        }
    }

    &.mobile-menu-active {

        @include media('<phone-medium') {
            background-color: $light;

            .logo {
                .symbol {
                    background-color: $dark;
                    color: $light;
                }

                .content {
                    color: $dark;
                }
            }

            .hamburger {
                &-inner,
                &-inner::after,
                &-inner::before {
                    @include media('<phone-medium') {
                        background-color: $dark !important;
                    }
                }
            }
        }

        .mobile-menu {
            transform: translateX(0);
        }
    }
}