.player-banner {
    position: relative;
    overflow: hidden;
    height: fluid(300, 420);

    &::after {
        content: '';
        width: 100%;
        height: fluid(80, 160);
        background-image: linear-gradient(to bottom, transparent, fade-out($dark, 0.4));
        position: absolute;
        bottom: 0;
    }

    .image {
        position: absolute;
        width: 100%;
        height: inherit;

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;

            @include media('<phone-medium') {
                object-position: top;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/public/assets/img/texture.png');
            mix-blend-mode: difference;
        }
    }

    .wrapper {
        position: relative;
        height: 100%;
        display: grid;
        grid-template-columns: 0.2fr 0.8fr;
        gap: fluid(20, 60);

        @include media('<tablet') {
            grid-template-columns: 0.3fr 0.7fr;
        }
    }

    .player-container {
        grid-column: 2;
        position: relative;
        @include flex(null, flex-end, null);
        z-index: 9;

        @include media('<phone-medium') {
            display: none;
        }
        
        .player {
            padding-bottom: fluid(10, 40);
            width: 100%;
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: fluid(10, 20);

            .play {
                height: fluid(40, 60);
                width: fluid(40, 60);
                border-radius: 50%;
                @include flex(center, center, null);
                background-color: $orange;

                ion-icon {
                    color: $light;
                    font-size: fluid(14, 22);
                }
            }

            .range {
                @include range-input($light, $light);
            }
        }
    }


}