@use 'sass:math';

@mixin flex($justify, $align, $wrap) {
	display: flex;

	@if $justify != null {
		justify-content: $justify;
	}

	@if $align != null {
		align-items: $align;
	}

	@if $wrap != null {
		flex-wrap: $wrap;
	}
}

@mixin range-input($range-color, $timestamp-color, $range-fade) {
	width: inherit;

	input[type='range'] {
		-webkit-appearance: none;
		appearance: none;
		width: 100%;
		height: rem(4);
		margin-right: rem(15);
		background: $range-fade;
		border-radius: rem(5);
		background-image: linear-gradient($range-color, $range-color);
		background-size: 50% 100%;
		background-repeat: no-repeat;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: rem(16);
			width: rem(16);
			border-radius: 50%;
			background: $range-color;
			cursor: ew-resize;
		}
	}

	.timestamp {
		@include flex(space-between, flex-start, wrap);
		color: $timestamp-color;
		font-size: fluid(12, 14);
	}
}