@import url('https://fonts.cdnfonts.com/css/renegade-pursuit');
@import url('https://fonts.cdnfonts.com/css/cocogoose-letterpress');
@import url('https://fonts.cdnfonts.com/css/utendo');

$utendo: 'Utendo',sans-serif;
$cocogoose: 'COCOGOOSE LETTERPRESS',sans-serif;
$renegadepursuit: 'Renegade Pursuit', sans-serif;