@import url('https://fonts.cdnfonts.com/css/roboto-infanity');
@import url('https://fonts.cdnfonts.com/css/henry-sans');
@import url('https://fonts.cdnfonts.com/css/renegade-pursuit');
@import url('https://fonts.cdnfonts.com/css/cocogoose-letterpress');

$robotoinfanity: 'Roboto Infanity', sans-serif;
$henrysans: 'Henry Sans', sans-serif;
$cocogoose: 'COCOGOOSE LETTERPRESS', sans-serif;
$renegadepursuit: 'Renegade Pursuit', sans-serif;